<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - SB Admin</title>
        
        
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="index.html">தீயணைப்பு நிலையம்</a>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" style="margin: 0px;"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <!-- <a class="dropdown-item" href="#">Settings</a> -->
                        <a class="dropdown-item" href="#">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="Logout()">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                விவரம்
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" >ஊர்தி</a>
                                    <a class="nav-link">பணியாளர்கள்</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open" matTooltip="report"></i></div>
                                அறிக்கை
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                             <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" routerLink="/thanipani">தனிப்பணி</a>
                                    <a class="nav-link" href="/theevibathu">தீவிபத்து</a>
                                    <a class="nav-link" >நிலை நிறுத்தப்பணி</a>
                                </nav>
                            </div>
                           
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" >
                                <div class="sb-nav-link-icon"><i class="fas fa-passport"></i></div>
                                கடவுச் சீட்டு
                            </a>
                            <a class="nav-link" >
                                <div class="sb-nav-link-icon"><i class="fas fa-bus"></i></div>
                                பயணப்படி
                            </a>
                              <a class="nav-link">
                                <div class="sb-nav-link-icon"><i class="fas fa-utensils"></i></div>
                                உணவுப் படி
                            </a>
                              <a class="nav-link" >
                                <div class="sb-nav-link-icon"><i class="fas fa-dollar-sign"></i></div>
                                வெகுமதி
                            </a>
                              <a class="nav-link">
                                <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                                மாதறிக்கை
                            </a>
                              <a class="nav-link" >
                                <div class="sb-nav-link-icon"><i class="fas fa-file-invoice"></i></div>
                                ஆண்டறிக்கை
                            </a>
                              <a class="nav-link" >
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                பண்டக இருப்பு
                            </a>
                            <a class="nav-link" >
                                <div class="sb-nav-link-icon"><i class="fas fa-arrow-down"></i></div>
                                தீ சான்றிதழ் பதிவிறக்கம்
                            </a>
                             <a class="nav-link" >
                                <div class="sb-nav-link-icon"><i class="fas fa-archive"></i></div>
                               காப்பகம்
                            </a>
                        </div>
                    </div>
                    <!--<div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Start Bootstrap
                    </div>-->
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h5 class="mt-4 Heading">தமிழ்நாடு தீயணைப்பு மற்றும் மீட்பு பணிகள் நிலையம், திருவாரூர்</h5>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card2 bg-primary text-white mb-4">
                                    <div class="card-body" style="background-color: #9385a1">தீயணைப்பு: {{FireCount}}</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between"  style="background-color: #9385a1">
                                      <!--  <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>-->
                                    </div>
                                </div>
                            </div>
                           
                            <div class="col-xl-3 col-md-6">
                                <div class="card2 bg-success text-white mb-4">
                                    <div class="card-body" style="background-color: #65c2c2">மீட்புப்பணி: {{RescueCount}}</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between" style="background-color: #65c2c2">
                                      <!--   <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>-->
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                      <!--  <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area mr-1"></i>
                                        Area Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar mr-1"></i>
                                        Bar Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>-->
  
                        <div class="card mb-4">
                            
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>வ.எண்</th>
                                                <th>வகை</th>
                                                <th>காரணம்</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                                <!-- <th>நி.அ</th>
                                                <th>ம.அ</th> -->
                                               
                                            </tr>
                                        </thead>
                                        <tfoot *ngIf="TableData.length > 10">
                                            <tr>
                                                <th>வ.எண்</th>
                                                <th>வகை</th>
                                                <th>காரணம்</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                                <!-- <th>நி.அ</th>
                                                <th>ம.அ</th> -->
                                                
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr *ngIf="TableData.length==0">
                                                <td colspan="5" style="text-align: center;">No Records Found !!</td>
                                            </tr>
                                            <tr *ngFor="let item of TableData;let i=index;">
                                                <td>{{item.arikkai_number}}</td>
                                                <td>{{item.type}}</td>
                                                <td *ngIf="item.type=='Thanipani'">{{item.rescue_work}}</td>
                                                <td *ngIf="item.type=='theevibathu'">{{item.reason_fortheincident}}</td>
                                                <td><a class="btn btn-success btnClass" (click)="Preview(item)">view</a></td>
                                                <td  *ngIf="item.approve_status == 1"><a class="btn btn-success btnClass" (click)="Approve(item)">Approve</a></td>
                                                <td *ngIf="item.approve_status == 2 || item.Approved == true"><a class="btn btn-secondary btnClass" aria-disabled="true">Approved</a></td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <!-- Status div -->
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title mx-auto" style="color:white">Status<br>தீவிபத்து - சமையல் எரிவாய்வு கசிவு</h4> <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div> <!-- Modal body -->
                            <div class="modal-body">
                                <div class="progress-track">
                                    <ul id="progressbar">
                                        <li class="step0 active " id="step1"><i class="fa fa-check"></i>SFO</li>
                                        <li class="step0 text-center" id="step2">DFO</li>
                                        <!-- <li class="step0 active text-right" id="step3"><span id="three">Out for Delivery</span></li> -->
                                        <li class="step0 text-right" id="step4">Approved</li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                        <div class="details d-table">
                                            <!-- <div class="d-table-row">
                                                <div class="d-table-cell"> Shipped with </div>
                                                <div class="d-table-cell"> UPS Expedited </div>
                                            </div> -->
                                            <div class="d-table-row" style="color: white;">
                                                <div class="d-table-cell"> Incident Date </div>
                                                <div class="d-table-cell"> 02/12/2017 </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="d-table-row"> <a href=#><i class="fa fa-phone" aria-hidden="true"></i></a> </div>
                                        <div class="d-table-row"> <a href=#><i class="fa fa-envelope" aria-hidden="true"></i></a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Status div Ends-->
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/datatables-demo.js"></script> -->
    </body>
</html>
